<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Default Title{% endblock %} - ccblog</title>

	<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
	{% block script %} <script></script> {% endblock %}

	<style>
		table {
		  width:900px;
		}
		table, th , td {
		  border: 1px solid grey;
		  border-collapse: collapse;
		  padding: 5px;
		}
		table tr:nth-child(odd) {
		  background-color: #f1f1f1;
		}
		table tr:nth-child(even) {
		  background-color: #ffffff;
		}
	</style>
</head>
<body>

<div style="margin-left:50px;margin-top:50px; line-height:30px">
	{% block content %}
	<div>This is default content</div>
	{% endblock %}
</div>

</body>
</html>