{% extends 'ccblog/base.html' %}
 
{% block title %}home page{% endblock %}

{% block script %}
	<script>
		$(document).ready(function(){
			//get blogtype
			$.get("/blogtype/",null, function(ret){
				var html='<br />';
				$.each(ret, function(i,item){
					html+= "<a name=\"typebtn\" typeid=\""+item.id+"\">"+item.typeName +"</a><br />";
					
				});
				$('#divblogtype').html(html)
			});
			
			//blogtype click
			$('body').on('click', "a[name='typebtn']", function(){
				var typeid=$(this).attr("typeid");
				getBlog(typeid);
			});

			getBlog(0);
		});

		
		//get blog
		function getBlog(blogtypeid){
			$.get("/blog?blogtypeid="+blogtypeid,null, function(ret){
				var html='<br />';
				html+='<table><tr> <td style=\"width:200px\">title</td> <td>content</td> <td style=\"width:200px\">createTime</td></tr>';

				$.each(ret, function(i,item){
					html+= "<tr> <td>"+item.title+"</td>";
					html+= "<td>"+(item.content.length>7?item.content.substr(0,6)+"...":item.content)+"</td>";
					var date = new Date(item.createTime).toISOString().replace(/T/g,' ').replace(/\.[\d]{3}Z/,'')  
					html+= "<td>"+date+"</td></tr>";
				});
				html+='</table>';
				$('#divblog').html(html)
			})
		}
	</script>
{% endblock %}


{% block content %}
	<form action="/logout/" method="get">
		<input type="submit" value="logout">
	</form>
	{{message}}
	<br />
	welcome <strong> {{username}}</strong>
	<br />

	<div id="divblogtype"></div>

	<div id="divblog"></div>

{% endblock %}